/* CSS Grid */
.allContainer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

/* put .leftSideScreen centered on half the screen */
.leftSideScreen{
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.pokeNameHidden {
  display: none;
}

.pokeNameRevealed {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  font-size: 2.5em;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.pokeSpriteContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "pokeSprite pokeSprite"
    "pokeSprite pokeSprite";

}

.pokeSpriteHidden{
  filter: brightness(0%);
  width: 400px;
}

.pokeSpriteRevealed{
  filter: brightness(100%);
  width: 400px;
}

/* Put .ButtonTimerSwitcher at top of screen centered */
.ButtonTimerSwitcher{
  flex: auto;
  grid-column: 1 / 3;
}

.pokeButtonContainer{
  width: 300px;
  height: 100px;
  border-color: white;
  border-radius: 10px;
}

.pokeButtonStyleOn{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: red;
  border-color: white;
  border-width: 2px;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.7em;
  color: white;
  font-weight: bold;
}

/* Put .timerVisible on top of .pokeButtonStyleOn */
.timerVisible{
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
}

.pokeButtonStyleOff{
  display: none;
}

.timerHidden{
  display: none;
}



